#app, #root {
  height: 100vh;
  background-color: #e5e5e5;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-height: 1000px;
  padding: 1vh;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.middle-row_wrapper {
  display: flex;
  justify-content: space-around;
}

.top-row_wrapper, .main-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.player-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.player:hover:not(.main-player):not(.disabled) {
  cursor: grab;
}

.player-wrapper:hover:not(.main-player):not(.disabled) h3, .player-selected h3 {
  color: #bc5952;
  transition: color 0.2s ease;
}

.player:hover:not(.main-player):not(.disabled):not(.player-selected) .ll-card__box {
  background-color: #ccc;
  transition: background-color 0.2s ease;
}

.main-player:not(.disabled) .ll-card__box:hover:not(.ll-card-selected) {
  background-color: #ccc;
  transition: background-color 0.2s ease;
  cursor: grab;
}

.player-selected:hover .ll-card__box, .player-selected .ll-card__box {
  background-color: #bc5952;
  transition: background-color 0.2s ease;
}

.player-wrapper h3 {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.player-wrapper h3 .your-name {
  font-size: 14px;
  font-weight: lighter;
  vertical-align: middle;
}

.ll-card__box {
  background: #fff8f8;
  box-shadow: 17px 17px 43px rgba(196, 191, 191, 0.9), -17px -17px 34px rgba(255, 255, 255, 0.9), 17px -17px 34px rgba(196, 191, 191, 0.2), -17px 17px 34px rgba(196, 191, 191, 0.2), inset -1px -1px 2px rgba(196, 191, 191, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 166px;
}

.player-active .ll-card__box:not(.ll-card-selected) {
  background-color: #acb49c;
  transition: background-color 0.5s ease;
}

.player-active h3 {
  color: #495337;
}

.ll-card__cover {
  position: relative;
}

.player-dead .ll-card__cover {
  opacity: 30%;
  filter: grayscale(100%);
}

.ll-card__cover img {
  border: 2px solid #c7c299;
  box-sizing: border-box;
  border-radius: 10px;
  width: 148px;
  height: 209px;
  margin: 8px;
}

.description-box {
  position: absolute;
  bottom: 6px;
  left: 9px;
  width: 146px;
  border-radius: 10px;
  background: #fff8f8;
  opacity: 0.8;
  padding: 0 5px 0 5px;
}

.description-box {
  font-size: 10px;
  line-height: 100%;
  text-align: center;
}

.description-box > h4 {
  font-size: 1rem;
}

.ll-card-selected {
  background-color: #bc5952;
  transition: background-color 0.5s ease;
}

.decks {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.played_cards {
  margin-right: 30px;
}

.unplayed_cards {
  margin-right: 30px;
}


.rules {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 400px;
  background-color: #fff8f8;
  box-shadow: 17px 17px 43px rgba(196, 191, 191, 0.9), -17px -17px 34px rgba(255, 255, 255, 0.9), 17px -17px 34px rgba(196, 191, 191, 0.2), -17px 17px 34px rgba(196, 191, 191, 0.2), inset -1px -1px 2px rgba(196, 191, 191, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  text-align: justify;
}

.rules h4 {
  margin: 0;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.rules ol {
  padding: 20px 30px 20px 30px;
  font-weight: 300;
  font-size: 14px;
  max-width: 640px;
  line-height: 150%;
}

.rules .card-header {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

ol li span {
  font-weight: 500;
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.main-player__cards {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.main-player__cards .ll-card {
  margin-right: 30px;
}

.markers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
}

.main-player .markers {
  margin-left: 30px;
}

.markers svg {
  color: #aab78f;
  height: 50px;
  width: 40px;
}

.score {
  margin: 0;
  padding: 0;
}

.score li {
  list-style: none;
  margin-top: 4px;
}

.score li img {
  height: 30px;
  padding: 0;
}

.move-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.card-description {
  margin: 15px 20px 0 20px;
  font-weight: 300;
  font-size: 14px;
}

.debug-panel {
  position: absolute;
  left: 20px;
  top: 20px;
}

@media screen and (max-width: 1440px) {
  .top-row_wrapper, .middle-row_wrapper {
    margin-bottom: 30px;
  }
}

.status-messages {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  margin: 10px;
  padding: 10px;
  border: 1px #b8daff;
  background: #fff8f8;
  box-shadow: 17px 17px 43px rgba(196, 191, 191, 0.9), -17px -17px 34px rgba(255, 255, 255, 0.9), 17px -17px 34px rgba(196, 191, 191, 0.2), -17px 17px 34px rgba(196, 191, 191, 0.2), inset -1px -1px 2px rgba(196, 191, 191, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  line-height: 28px;
  min-width: 300px;
  max-width: 600px;
  text-align: right;
}

.status-messages > p {
  margin: 0;
}

.status-victory {
  font-weight: bold;
}

.status-death {
  font-style: italic;
  color: #bc5952;
}

.ll-feedback .modal-body > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.ll-winner {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.ll-winner p {
  font-size: 42px;
  font-weight: 300;
  line-height: 150%;
  text-align: center;
  color: rgba(62, 62, 62, 0.9);
}