#app, #root {
  height: 100vh;
  background-color: #e5e5e5;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  height: 100%;
  max-height: 1000px;
  padding: 0 3px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 768px) {
  .game-container {
    justify-content: space-between;
    padding: 10px;
  }
}

.middle-row_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media only screen and (min-width: 768px) {
  .middle-row_wrapper {
    justify-content: space-around;
  }
}

.top-row_wrapper, .main-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .top-row_wrapper, .middle-row_wrapper {
    margin-bottom: 30px;
  }
}

.player-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.player:hover:not(.main-player):not(.disabled) {
  cursor: grab;
}

.player-wrapper:hover:not(.main-player):not(.disabled) h3, .player-selected h3 {
  color: #bc5952;
  transition: color 0.2s ease;
}

.player:hover:not(.main-player):not(.disabled):not(.player-selected) .ll-card__box {
  background-color: #ccc;
  transition: background-color 0.2s ease;
}

.main-player:not(.disabled) .ll-card__box:hover:not(.ll-card-selected) {
  background-color: #ccc;
  transition: background-color 0.2s ease;
  cursor: grab;
}

.player-selected:hover .ll-card__box, .player-selected .ll-card__box {
  background-color: #bc5952;
  transition: background-color 0.2s ease;
}

.player-wrapper h3 {
  font-size: 12px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .player-wrapper h3 {
    font-size: 24px;
    font-weight: 300;
  }
}

.player-wrapper h3 .your-name {
  font-size: 12px;
  font-weight: lighter;
  vertical-align: middle;
}

.ll-card__box {
  background: #fff8f8;
  box-shadow: 2px 2px 5px rgba(196, 191, 191, 0.9), -2px -2px 5px rgba(255, 255, 255, 0.9), 2px -2px 5px rgba(196, 191, 191, 0.2), -2px 2px 5px rgba(196, 191, 191, 0.2), inset -1px -1px 2px rgba(196, 191, 191, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 84px;
  height: 112px;
}

.player-active .ll-card__box:not(.ll-card-selected) {
  background-color: #acb49c;
  transition: background-color 0.5s ease;
}

.player-active h3 {
  color: #495337;
}

.ll-card__cover {
  position: relative;
}

.player-dead .ll-card__cover {
  opacity: 30%;
  filter: grayscale(100%);
}

.ll-card__cover img {
  border: 2px solid #c7c299;
  box-sizing: border-box;
  border-radius: 10px;
  width: 76px;
  height: 104px;
  margin: 4px;
}

.description-box {
  position: absolute;
  bottom: 4px;
  left: 4px;
  width: 76px;
  border-radius: 10px;
  background: #fff8f8;
  opacity: 0.8;
  padding: 0 2px 0 2px;
}

.description-box {
  font-size: 6px;
  line-height: 100%;
  text-align: center;
}

.description-box > h4 {
  font-size: 0.6rem;
  margin: 2px 0;
}

.description-box > p {
  margin-bottom: 4px;
}

.ll-card-selected {
  background-color: #bc5952;
  transition: background-color 0.5s ease;
}

.decks {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.played_cards {
  position: absolute;
  z-index: 100;
  margin-left: -10px;
}

.unplayed_cards {
  margin-right: 5px;
}

@media only screen and (min-width: 768px) {
  .played_cards {
    position: static;
    margin-right: 30px;
  }

  .unplayed_cards {
    margin-right: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .ll-card__cover img {
    width: 148px;
    height: 209px;
    margin: 8px;
  }

  .ll-card__box {
    box-shadow: 17px 17px 43px rgba(196, 191, 191, 0.9), -17px -17px 34px rgba(255, 255, 255, 0.9), 17px -17px 34px rgba(196, 191, 191, 0.2), -17px 17px 34px rgba(196, 191, 191, 0.2), inset -1px -1px 2px rgba(196, 191, 191, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.3);
    width: 166px;
    height: 226px;
  }

  .description-box {
    display: block;
    bottom: 6px;
    left: 9px;
    width: 146px;
    font-size: 10px;
    padding: 0 5px 0 5px;
  }

  .description-box > h4 {
    font-size: 1rem;
  }
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.main-player__cards {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.main-player__cards .ll-card {
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  .main-player__cards .ll-card {
    margin-right: 30px;
  }
}

.markers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
}

.main-player .markers {
  margin-left: 5px;
}

.markers svg {
  color: #aab78f;
  height: 25px;
  width: 20px;
}

.score {
  margin: 0;
  padding: 0;
  line-height: 13px;
}

.score li {
  list-style: none;
}

.score li img {
  height: 13px;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .markers {
    margin-left: 40px;
  }

  .main-player .markers {
    margin-left: 30px;
  }

  .markers svg {
    height: 50px;
    width: 40px;
  }

  .score li {
    line-height: 24px;
    margin-top: 4px;
  }

  .score li img {
    height: 30px;
  }
}

.move-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.card-description {
  margin: 15px 20px 0 20px;
  font-weight: 300;
  font-size: 14px;
}

.debug-panel {
  position: absolute;
  left: 20px;
  top: 20px;
}

.ll-feedback .modal-body > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.ll-winner {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.ll-winner p {
  font-size: 42px;
  font-weight: 300;
  line-height: 150%;
  text-align: center;
  color: rgba(62, 62, 62, 0.9);
}