body {
  background-color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
}

.top-row_wrapper {
  display: flex;
  justify-content: center;
}

.player_3 {
  margin-left: 446px;
  margin-right: 306px;
}

h3 {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

h3:hover {
  font-weight: 500;
  color: #bc5952;
}

.ll-card__box {
  width: 167px;
  height: 230px;
  background: #fff8f8;
  box-shadow: 17px 17px 43px rgba(196, 191, 191, 0.9), -17px -17px 34px rgba(255, 255, 255, 0.9), 17px -17px 34px rgba(196, 191, 191, 0.2), -17px 17px 34px rgba(196, 191, 191, 0.2), inset -1px -1px 2px rgba(196, 191, 191, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.ll-card__box:hover {
  border: 2px solid #EEC6A4;
}

.ll-card__cover img {
  margin: 0 auto;
  border: 2px solid #c7c299;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 8px;
  margin-left: 8px;
}

.ll-card-selected {
  background-color: #bc5952;
}

.status-log {
  margin-top: 30px;
  margin-right: 50px;
  font-weight: 300;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;

  color: #acbc8a;
}

.middle-row_wrapper {
  display: flex;
  justify-content: space-between;
  vertical-align: center;
  margin-right: 30px;
  margin-left: 30px;
}

.deck {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.played_cards {
  margin-right: 30px;
}

.unplayed_cards {
  margin-right: 30px;
}


.bottom-row_wrapper {
  display: flex;
  justify-content: space-between;
  vertical-align: center;
  margin-right: 30px;
  margin-left: 30px;
}

.rules {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin-left: 30px;
    display: block;
    background-color: #FFF8F8;
    width: 400px;
    height: 400px;
    box-shadow: 17px 17px 43px rgba(196, 191, 191, 0.9), -17px -17px 34px rgba(255, 255, 255, 0.9), 17px -17px 34px rgba(196, 191, 191, 0.2), -17px 17px 34px rgba(196, 191, 191, 0.2), inset -1px -1px 2px rgba(196, 191, 191, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.rules h4 {
    text-align: center;
    text-transform: uppercase;
}
.rules p {
    padding: 20px 30px 20px 30px;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
}
.main-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 380px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
}
.main-player__cards {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.main-player__cards .ll-card {
    margin-right: 50px;
}

.score li {
  list-style: none;
}
